
html,body{
    margin:0;
}

.vl {
  border-left: 2px solid black;
  height: 90%;
  border-radius: 0 !important;
}


/*-----Navbar Styles-----*/
#navbar{
    position: fixed;
    top: 0;
    background-color: #F66B0E;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    color: #EFEFEF;
    height: 10vh;
    float: right;
    direction: rtl;
}
ul{
    height: 100%;
    margin: 0px;
    display: flex;
}
li{
    display: inline;
    /* padding: 10px; */
    min-width: 100px;
    text-align: center;
    font-size: 1.5rem;
    line-height: 10vh;
}
li:hover{
    background-color: #ff8b3d;
    height: 100%;
}

a{
    color: #EFEFEF;
    text-decoration: none;
}




/*-----Welcome section Styles-----*/

#welcome-section{
    height: 100vh;
    background-color:#112B3C;
    font-family: Arial, Helvetica, sans-serif;
    color: #EFEFEF;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
sub{
    float: right;
    color: #ff8b3d;
}
/*-----projects section Styles-----*/
#projects{
    height: 100vh;
    background-color:#EFEFEF;
    font-family: Arial, Helvetica, sans-serif;
    color: #112B3C;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.Project{
    height: 40vh;
    width: 20vw;
    background-color:#112B3C;
    color: #EFEFEF;
    text-align: center;
    padding-top: 25px;
}

/*-----Links section Styles-----*/
#Links{
    height: 50vh;
    background-color:#205375;
    font-family: Arial, Helvetica, sans-serif;
    color: #EFEFEF;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

}
#Links > div {
    padding: 10px;
    border-radius: 5px;
}
#Links > div :hover{
    background-color: #112B3C;
}




/* Media query section */
@media only screen and (max-width: 600px) {
    .mahdi-projects, .valentine-projects{
        color: #F66B0E;
    }
  }