#welcome-section{
        height: 100vh;
        background-color: rgb(0, 255, 157);
}
html,body{
    margin:0;
}

#navbar{
    position: fixed;
    top: 0;
    background-color: #b72a3d;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 10vh;
}
li{
    display: inline;
    padding: 10px;
}
li:hover{
    background-color: gray;
    height: 100%;
}

a{
    color: white;
    text-decoration: none;
}